﻿@{
    ViewData["Title"] = "Potwierdzenie";
    Layout = "_CommonPageLayout";
}
<div class="report-main">
    <div class="section">
        <div class="container report-container">
            <div class="report-title">
                <h2>Nowy raport - potwierdzenie</h2>
            </div>
            <div class="summary-line"></div>
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <img class="img-responsive" src="~/images/flowsummary.svg" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3><strong>Twoje zlecenie jest w trakcie realizacji</strong></h3>
                    <div class="spacer"></div>
                    </div>
                <div class="col-sm-12 text-left">
                    <strong>
                        Generowanie raportu
                    </strong>
                    <p>
                        Proces generowania raportu zostanie rozpoczęty w momencie otrzymania potwierdzenia płatności z serwisu dotpay.
                    </p>
                    <strong>
                        Link do raportu
                    </strong>
                    <p>
                        Po utworzeniu raportu na adres email podany podczas uzupełniania szczegółów zostanie wysłany link do pobrania raportu w formacie PDF.
                    </p>
                    <strong>
                        Czas realizacji
                    </strong>
                    <p>
                        Realizacja zamówienia trwa <b>nie dłużej niż 24 godziny</b> od potwierdzenia płatności przez serwis dotpay.
                    </p>
                    <small>
                        <strong>
                            Kod promocyjny
                        </strong>
                        <p>
                            Jeżeli podczas realizacji został wykorzystany kod promocyjny upoważniajacy do darmowego skorzystania z serwisu generowanie rozpocznie się automatycznie w przeciągu kilku minut.
                        </p>
                    </small>
                    </div>
                <div class="col-sm-12 text-center">
                    <div class="summary-line"></div>
                    <div class="spacer"></div>
                    <a  href="https://www.olx.pl/motoryzacja/samochody/"class="btn btn-success"><i class="fa fa-search"></i> Znajdź aktualne oferty kupna i sprzedaży w serwise OLX.pl</a>
                    lub <a href="http://autocena.info">Powrót o strony głównej</a>
                </div>
              
            </div>
        </div>
    </div>
</div>


