﻿@{
    Layout = "_ReportLayout";
    ViewData["Title"] = "Raport";
}
@model CarPriceAnalysis.Web.Portal.ViewModels.ReportDetailsViewModel

<!-- header -->
<table style="width:100%; margin-bottom:50px; background:rgba(0,0,0,100)">
    <tr>
        <td style="width:50%; text-align:left">
            <h2>Auto Raport</h2>
        </td>
        <td style="width:50%; text-align:right">
            <p>Data utworzenia: @Model.GenerateDateTime</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; width:100%" colspan="2">
            <h1>Raport</h1>
            <p>Nr @Model.GenerateDateTime.Ticks</p>
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Samochód</div>
            <div class="panel-body">
                <img src="http://img.chceauto.pl/opel/vectra/opel-vectra-sedan-252-9049_v1.jpg" style="max-height:100%; max-width:100%" /><br />
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr>
                            <td><strong><label asp-for="Make" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Make</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="Model" style="font-weight:bold"></label></strong></td>
                            <td>@Model.ProductionYear</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="Version" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Version</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="BodyType" style="font-weight:bold"></label></strong></td>
                            <td>@Model.BodyType</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="ProductionYear" style="font-weight:bold"></label></strong></td>
                            <td>@Model.ProductionYear</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Szczegóły</div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr>
                            <td><strong><label asp-for="Mileage" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Mileage</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="Displacement" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Displacement</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="Power" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Power</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="GearingType" style="font-weight:bold"></label></strong></td>
                            <td>@Model.GearingType</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FuelType" style="font-weight:bold"></label></strong></td>
                            <td>@Model.FuelType</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="Color" style="font-weight:bold"></label></strong></td>
                            <td>@Model.Color</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsFirstOwner" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsFirstOwner</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsBroken" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsBroken</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsAccidentFree" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsAccidentFree</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="OriginCountry" style="font-weight:bold"></label></strong></td>
                            <td>@Model.OriginCountry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Wyposażenie</div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr>
                            <td><strong><label asp-for="IsMultifunctionalSteeringWheel" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsMultifunctionalSteeringWheel</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsNavi" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsSeatHeating</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsAutomaticClima" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsAutomaticClima</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsManualClima" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsManualClima</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsTempomat" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsTempomat</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsLeather" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsLeather</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsXenon" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsXenon</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsStartStop" style="font-weight:bold"></label></strong></td>
                            <td>@Model.IsStartStop</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="IsMultifunctionalSteeringWheel" style="font-weight:bold"></label></strong></td>
                            <td>@Model.OriginCountry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Szacowana cena samochodu</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well well-lg text-center">
                            <h1>@Model.Price zł</h1>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <td><strong>Aktualizacja modelu obliczeniowego</strong></td>
                                    <td>@DateTime.UtcNow</td>
                                </tr>
                                <tr>
                                    <td><strong>Metoda obliczeń</strong></td>
                                    <td>Bayesian linear regression</td>
                                </tr>
                                <tr>
                                    <td><strong>Ilość próbek do wytrenowania modelu</strong></td>
                                    <td>15423</td>
                                </tr>
                                <tr>
                                    <td><strong>Dokładność modelu</strong></td>
                                    <td>98,56%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
