﻿@{
    ViewData["Title"] = "Pobierz raport";
    Layout = "_CommonPageLayout";
}

@model CarPriceAnalysis.Web.Portal.ViewModels.DownloadDetailsViewModel

<div class="report-main all-site-body">
    <div class="section">
        <div class="container report-container text-center">
            <div class="splash_description">
                <h1>Pobierz raport</h1>
            </div>
            <h4>Nr @Model.GenerateDateTime.Value.Ticks</h4>

            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <b>Marka: </b>@Model.Make
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <b>Model: </b>@Model.Model
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <b>Wersja: </b>@(string.IsNullOrEmpty(Model.Version) ? "-" : Model.Version)
                            </div>
                        </div>

                        <a class="btn btn-danger btn-download" asp-action="@nameof(ReportController.Download)" asp-controller="Report" asp-route-id="@Model.Id">
                            <div>
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                <div>Pobierz</div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
