﻿@{
    ViewData["Title"] = "Tworzenie raportu";
    Layout = "_CommonPageLayout";
}
@model CarPriceAnalysis.Web.Portal.ViewModels.CarDetailsViewModel

@{
    var showNextStep = (TempData["ShowNextStep"] as bool?).GetValueOrDefault();
    var a = 1;
}

<div class="report-main">
    <div class="section">
        <div class="container report-container">
            <div class="report-title">
                <h2>Nowy raport</h2>
            </div>
            <div class="row">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" id="stepOne" style="width: 10%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-warning" id="stepTwo" style="width: 30%; display:@(!showNextStep? "none" : null )">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-danger" id="stepThree" style="width: 30%; display:@(!showNextStep? "none" : null )">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <form asp-action="@nameof(ReportController.Index)" asp-controller="Report" role="form" method="post">
                <div class="row" id="sectionOne">
                    <div class="col-sm-12">
                        <h3>
                            Samochód <br />
                            <small> Wybierz markę i model</small>
                        </h3>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Make"></label>
                                <select asp-for="Make" asp-items="@(new SelectList(Model.MakesList))" class="form-control" disabled="@(showNextStep ? null : "disabled")"></select>
                                <span asp-validation-for="Make" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Model"></label>
                                <select asp-for="Model" asp-items="@(new SelectList(Model.ModelsList))" class="form-control" disabled="@(showNextStep ? null : "disabled")"></select>
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <span class="ui-tooltip" data-toggle="tooltip" title="Nie wszystkie modele samochodów posiadają wiele wersji.">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <label asp-for="Version"></label>
                                <select asp-for="Version" asp-items="@(new SelectList(Model.VersionsList))" class="form-control" disabled="@(showNextStep ? null : "disabled")"></select>
                                <span asp-validation-for="Version" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="sectionTwo" style="display:@(!showNextStep? "none" : null )">
                    <div class="col-sm-12">
                        <h3>
                            Szczegóły <br />
                            <small> Wprowadź parametry opisujące twoje auto</small>
                        </h3>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Mileage"></label>
                                <input asp-for="Mileage" placeholder="np. 120000" class="form-control" type="number" min="0" max="1000000" />
                                <span asp-validation-for="Mileage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="FuelType"></label>
                                <select asp-for="FuelType" asp-items="@(new SelectList(Model.FuelTypesList))" class="form-control"></select>
                                <span asp-validation-for="FuelType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <span class="ui-tooltip" data-toggle="tooltip" title="Pojemność silnika wyrażona w cm3 ( Przykładowo dla silnika 2.0 jest to około 2000cm3 )">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <label asp-for="Displacement"></label>
                                <input asp-for="Displacement" placeholder="np. 1998" class="form-control" type="number" min="100" max="10000" />
                                <span asp-validation-for="Displacement" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="BodyType"></label>
                                <select asp-for="BodyType" asp-items="@(new SelectList(Model.BodyTypesList))" class="form-control"></select>
                                <span asp-validation-for="BodyType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="IsBroken"></label>
                                <select asp-for="IsBroken" asp-items="@(new SelectList(Model.YesNoList).Reverse())" class="form-control"></select>
                                <span asp-validation-for="IsBroken" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="DoorsCount"></label>
                                <select asp-for="DoorsCount" asp-items="@(new SelectList(Model.DoorsCountList))" class="form-control"></select>
                                <span asp-validation-for="DoorsCount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="IsAccidentFree"></label>
                                <select asp-for="IsAccidentFree" asp-items="@(new SelectList(Model.YesNoList))" class="form-control"></select>
                                <span asp-validation-for="IsAccidentFree" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="ProductionYear"></label>
                                    <select asp-for="ProductionYear" asp-items="@(new SelectList(Model.ProductionYearsList))" class="form-control"></select>
                                    <span asp-validation-for="ProductionYear" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <span class="ui-tooltip" data-toggle="tooltip" title="W zależności od producenta możliwe są różne opcje automatycznych skrzyni biegów.">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <label asp-for="GearingType"></label>
                                    <select asp-for="GearingType" asp-items="@(new SelectList(Model.GearingTypesList))" class="form-control"></select>
                                    <span asp-validation-for="GearingType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Power"></label>
                                <input asp-for="Power" placeholder="np. 143" class="form-control" type="number" />
                                <span asp-validation-for="Power" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="OriginCountry"></label>
                                <select asp-for="OriginCountry" asp-items="@(new SelectList(Model.OriginCountriesList))" class="form-control"></select>
                                <span asp-validation-for="OriginCountry" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="IsFirstOwner"></label>
                                <select asp-for="IsFirstOwner" asp-items="@(new SelectList(Model.YesNoList))" class="form-control"></select>
                                <span asp-validation-for="IsFirstOwner" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Color"></label>
                                <select asp-for="Color" asp-items="@(new SelectList(Model.ColorsList))" class="form-control"></select>
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <span class="ui-tooltip" data-toggle="tooltip" title="Werjsa angielska charakteryzuje się kierownicą zlokalizowaną po prawej stronie pojazdu.">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <label asp-for="IsEnglishVersion"></label>
                                <select asp-for="IsEnglishVersion" asp-items="@(new SelectList(Model.YesNoList).Reverse())" class="form-control"></select>
                                <span asp-validation-for="IsEnglishVersion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="sectionThree" style="display:@(!showNextStep? "none" : null )">
                    <div class="col-sm-12">
                        <h3>
                            Wyposażenie <br />
                            <small> Zaznacz posiadane wyposażenie</small>
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsMultifunctionalSteeringWheel)"><input asp-for="IsMultifunctionalSteeringWheel" data-toggle="checkbox" />Wielofunkcyjna kierownica</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsAutomaticClima)"><input asp-for="IsAutomaticClima" data-toggle="checkbox" />Klimatyzacja (automatyczna)</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsTempomat)"><input asp-for="IsTempomat" data-toggle="checkbox" />Tempomat</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsSeatHeating)"><input asp-for="IsSeatHeating" data-toggle="checkbox" />Podgrzewane fotele</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsLeather)"><input asp-for="IsLeather" data-toggle="checkbox" />Skórzana tapicerka</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsNavi)"><input asp-for="IsNavi" data-toggle="checkbox" />Nawigacja</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsManualClima)"><input asp-for="IsManualClima" data-toggle="checkbox" />Klimatyzacja (manualna)</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsXenon)"><input asp-for="IsXenon" data-toggle="checkbox" />Reflektory ksenonowe</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="checkbox" for="@nameof(Model.IsStartStop)"><input asp-for="IsStartStop" data-toggle="checkbox" />Start-stop</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="summary-line"></div>
                            <input type="hidden" asp-for="PromoCode" placeholder="Kod promocyjny" class="form-control" />
                            <button id="submitFormBtn" type="submit" class="btn btn-success" style="display:@(showNextStep? null : "none" )"><i class="fa fa-file-text-o"></i> Podsumowanie</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button id="goToNextStepBtn" type="button" href="#" class="btn btn-info" style="display:@(showNextStep? "none" : null )" disabled="@(showNextStep ? null : "disabled")">Następny krok <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts{
    <script type="text/javascript">
        var currentStep = 0;

        $("#goToNextStepBtn").click(function () {

            switch (currentStep) {
                case 0:
                    $("#sectionTwo").fadeIn('slow');
                    $("#stepTwo").show();
                    currentStep++;
                    break;
                case 1:
                    $("#sectionThree").fadeIn('slow');
                    $("#stepThree").show();
                    currentStep++;
                    $(this).hide();
                    $("#submitFormBtn").show();
                    break;
            }
        });

        //Update car models
        $('#@nameof(Model.Make)').change(function () {
            var make = $(this).val();
            updateCarModels(make);
        });

        //Update car versions, years and body types
        $('#@nameof(Model.Model)').change(function () {
            var make = $('#@nameof(Model.Make)').val();
            var model = $(this).val();
            updateCarVersions(make, model);
        });

        //Update car versions, years and body types
        $('#@nameof(Model.Version)').change(function () {
            var make = $('#@nameof(Model.Make)').val();
            var model = $('#@nameof(Model.Model)').val();
            var version = $(this).val();
            updateCarDetails(make, model, version);
        });

        function updateCarModels(make) {
            $("#goToNextStepBtn").attr('disabled','disabled');
            $('#@nameof(Model.Model)').empty();
            $('#@nameof(Model.Version)').attr('disabled', 'disabled').empty();

            $.get("/Raport/GetCarModels/" + make, function (data) {
                updateSelectList(data, "@nameof(Model.Model)")
                updateCarVersions(make, data[0]);
            });
        }

        function updateCarVersions(make, model) {
            $('#@nameof(Model.Version)').attr('disabled', 'disabled').empty();
            if (model && make) {
                $.get("/Raport/GetCarVersions/" + make + "/" + model, function (data) {
                    updateSelectList(data, "@nameof(Model.Version)");
                    updateCarDetails(make, model, data[0]);
                });
            }
            $("#goToNextStepBtn").removeAttr('disabled');
        }

        function updateCarDetails(make, model, version) {
            $('#@nameof(Model.BodyType)').empty();
            $('#@nameof(Model.ProductionYear)').empty();

            if (model && make) {
                updateCarBodyTypes(make, model, version);
                updateCarProductionYears(make, model, version);
            }
        }

        function updateCarBodyTypes(make, model, version) {
            $.get("/Raport/GetCarBodyTypes/" + make + "/" + model + "/" + (version ? version : ""), function (data) {
                updateSelectList(data, "@nameof(Model.BodyType)")
            });
        }

        function updateCarProductionYears(make, model, version) {
            $.get("/Raport/GetCarProductionYears/" + make + "/" + model + "/" + (version ? version : ""), function (data) {
                updateSelectList(data, "@nameof(Model.ProductionYear)")
            });
        }

        function updateSelectList(data, name) {
            var selectList = $("#" + name);
            selectList.empty();
            if (data[0]) {
                $.each(data, function (index, value) {
                    selectList.append("<option>" + value + "</option>");
                });
                selectList.show();
                selectList.removeAttr("disabled");
            }
        }

        function setCarDetails(make, model,version){
            if(make){
                $.get("/Raport/GetCarModels/" + make, function (data) {
                    $('#@nameof(Model.Make)').removeAttr("disabled");
                    updateSelectList(data, "@nameof(Model.Model)");
                    $('#@nameof(Model.Model)').val(model);
                    updateCarVersions(make, model);
                    if(model){
                        $.get("/Raport/GetCarVersions/" + make + "/" + model, function (data) {
                            updateSelectList(data, "@nameof(Model.Version)");
                            $('#@nameof(Model.Version)').val(version);
                            updateCarDetails(make, model, version);
                        });
                    }else{
                        $("#goToNextStepBtn").attr('disabled','disabled');
                    }
                });
            }
        }

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $(function () {
            $('.ui-tooltip').tooltip();
            if(@showNextStep.ToString().ToLowerInvariant() == false && !getUrlParameter('make'))
            {
                var makeSelectList = $('#@nameof(Model.Make)');
                var make = makeSelectList.val();
                updateCarModels(make);
                makeSelectList.removeAttr('disabled');
            }
            else if(getUrlParameter('make'))
            {
                var selectedMake = getUrlParameter('make');
                var selectedModel = getUrlParameter('model');
                var selectedVersion = getUrlParameter('version');

                setCarDetails(selectedMake != 'null'  ? selectedMake : "", selectedModel != 'null' ? selectedModel : "", selectedVersion != 'null' ? selectedVersion : "");
            }
        });
    </script>
}