﻿@{
    Layout = null;
}


@model CarPriceAnalysis.Web.Portal.ViewModels.PaymentRequestViewModel

<strong>Przygotowywanie płatności... Za moment nastąpi przekierowanie do strony płatności.</strong>

<form action="https://ssl.dotpay.pl/t2/" id="dotpayTransaction" role="form" method="post">
    <input asp-for="amount" type="hidden" />
    <input asp-for="channel_groups" type="hidden" />
    <input asp-for="currency" type="hidden" />
    <input asp-for="description" type="hidden" />
    <input asp-for="email" type="hidden" />
    <input asp-for="id" type="hidden" />
    <input asp-for="lang" type="hidden" />
    <input asp-for="url" type="hidden" />
    <input asp-for="type" type="hidden" />
    <input asp-for="txtguzik" type="hidden" />
</form>


<script type="text/javascript">
    document.getElementById("dotpayTransaction").submit();
</script>
