﻿@using System.Linq
@{
    Layout = "_ReportLayout";
}
@model CarPriceAnalysis.Web.Portal.ViewModels.ReportDetailsViewModel

<!-- header -->
<table style="width:100%; margin-bottom:50px">
    <tr>
        <td style="width:50%; text-align:left; vertical-align:top">
            <img src="~/images/logo.png" />
        </td>
        <td style="width:50%; text-align:right; vertical-align:top">
            <p>Data utworzenia: @Model.GenerateDateTime.ToString("dd.MM.yyyy")</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; width:100%" colspan="2">
            <h1>Raport</h1>
            <p>Nr @Model.GenerateDateTime.Ticks</p>
        </td>
    </tr>
</table>

<table style="width:100%">
    <tr>
        <td style="width:50%; vertical-align:top">
            <div class="panel panel-primary" style="height:550px;">
                <div class="panel-heading">1. Samochód</div>
                <div class="panel-body">
                    <div style="width:100%; padding-bottom:20px" class="text-center">
                        <img src="~/images/CarImages/@(Model.CategoryId).jpg" style="max-height:200px; max-width:100%" />
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td><strong><label asp-for="Make" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Make</td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="Model" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Model</td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="Version" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Version</td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="BodyType" style="font-weight:bold"></label></strong></td>
                                <td>@Model.BodyType</td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="ProductionYear" style="font-weight:bold"></label></strong></td>
                                <td>@Model.ProductionYear</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td style="width:50%; vertical-align:top">
            <div class="panel panel-primary" style="height:550px;">
                <div class="panel-heading">2. Szczegóły</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/distance.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="Mileage" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Mileage km</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/engine1.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="Displacement" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Displacement cm3</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/tachometer.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="Power" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Power KM</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/gearing.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="GearingType" style="font-weight:bold"></label></strong></td>
                                <td>@Model.GearingType</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/gasoline.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="FuelType" style="font-weight:bold"></label></strong></td>
                                <td>@Model.FuelType</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/paint.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="Color" style="font-weight:bold"></label></strong></td>
                                <td>@Model.Color</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/managers.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="IsFirstOwner" style="font-weight:bold"></label></strong></td>
                                <td>@(Model.IsFirstOwner ? "Tak" : "Nie")</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/vehicle-repair.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="IsBroken" style="font-weight:bold"></label></strong></td>
                                <td>@(Model.IsBroken ? "Tak" : "Nie")</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/car-crash.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="IsAccidentFree" style="font-weight:bold"></label></strong></td>
                                <td>@(Model.IsAccidentFree ? "Tak" : "Nie")</td>
                            </tr>
                            <tr>
                                <td style="width:30px"><img src="~/images/Report/world-location.png" class="img-icon-small" /></td>
                                <td><strong><label asp-for="OriginCountry" style="font-weight:bold"></label></strong></td>
                                <td>@Model.OriginCountry</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="width:100%; vertical-align:top">
            <div class="panel panel-primary">
                <div class="panel-heading">3. Wyposażenie</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td><strong><label asp-for="IsMultifunctionalSteeringWheel" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsMultifunctionalSteeringWheel ? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsSeatHeating" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsSeatHeating? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsAutomaticClima" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsAutomaticClima? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsManualClima" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsManualClima? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsTempomat" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsTempomat? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsLeather" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsLeather? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsXenon" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsXenon? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsStartStop" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsStartStop? "checked" : "cancel").png" /></td>
                            </tr>
                            <tr>
                                <td><strong><label asp-for="IsNavi" style="font-weight:bold"></label></strong></td>
                                <td><img class="img-icon-small" src="~/images/Report/@(Model.IsNavi? "checked" : "cancel").png" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="height: 90px; text-align:center">
            <img style="width:800px; height:90px" src="~/images/baner800.png" />
        </td>
    </tr>
</table>

<table style="width:100% ;page-break-before:always;">
    <tr>
        <td style="vertical-align:top">
            <div class="panel panel-primary">
                <div class="panel-heading">4. Cena samochodu</div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:50%">
                                <div class="well well-lg text-center">
                                    <strong>a) Szacowana cena</strong>
                                    <h1>@Model.Price.ToString("0 000") zł</h1>
                                </div>
                            </td>
                            <td style="width:50%; font-size:11px">
                                <b style="font-size:13px">b) Opis modelu obliczeń</b>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td><strong>Aktualizacja modelu obliczeniowego</strong></td>
                                            <td>@(new DateTime(DateTime.UtcNow.Year,DateTime.UtcNow.Month,1).ToString("dd.MM.yyyy"))</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Ilość ofert wykorzystana do obliczeń</strong></td>
                                            <td>@Model.NumberOfSamples</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Całkowita ilość ofert</strong></td>
                                            <td>@Model.NumberOfAllOffers</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dokładność modelu</strong></td>
                                            <td>80-90%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding-top:20px">
                                <strong>c) Ceny ofert dla tego samego modelu</strong>
                                <canvas id="PercentOfHigherPricesAtDifferentYears" width="400" height="200"></canvas>
                            </td>
                            <td style="text-align:center; padding-top:20px">
                                <strong>d) Ceny ofert dla tego samego modelu i rocznika</strong>
                                <canvas id="PercentOfHigherPricesAtSameYear" width="400" height="200"></canvas>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; font-size:12px; width:50%;"><span style="width:10px; padding:0px 10px; height:5px; background:#4C6CAC">&nbsp;</span> Wyższa: @(Math.Round(Model.PercentOfHigherPricesAtDifferentYears).ToString("0")) % &nbsp; <span style="width:10px; padding:0px 10px; height:5px; background:#AC4C4C">&nbsp;</span> Niższa: @((100 - Math.Round(Model.PercentOfHigherPricesAtDifferentYears)).ToString("0")) %</td>
                            <td style="text-align:center; font-size:12px; width:50%;"><span style="width:10px; padding:0px 10px; height:5px; background:#4C6CAC">&nbsp;</span> Wyższa: @(Math.Round(Model.PercentOfHigherPricesAtSameYear).ToString("0")) % &nbsp; <span style="width:10px; padding:0px 10px; height:5px; background:#AC4C4C">&nbsp;</span> Niższa: @((100 - Math.Round(Model.PercentOfHigherPricesAtSameYear)).ToString("0")) %</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:40px">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td><strong>e) Średnia cena dla tego samego modelu</strong></td>
                                            <td>@(Model.AveragePrice > 0 ? $"{Model.AveragePrice.ToString("0.00")} zł" : "brak danych")</td>
                                        </tr>
                                        <tr>
                                            <td><strong>f) Średnia cena dla tego samego modelu i rocznika</strong></td>
                                            <td>@(Model.AvgPriceSameYear > 0 ? $"{Model.AvgPriceSameYear.ToString("0.00")} zł" : "brak danych")</td>
                                        </tr>
                                        <tr>
                                            <td><strong>g) Średnia cena dla tego samego modelu, rocznika i podobnego przebiegu</strong></td>
                                            <td>@(Model.AvgPriceSameYearSimiliarMileage > 0 ? $"{Model.AvgPriceSameYearSimiliarMileage.ToString("0.00")} zł" : "brak danych")</td>
                                        </tr>
                                        <tr>
                                            <td><strong>h) Średnia cena dla tego samego modelu, rocznika i podobnej mocy</strong></td>
                                            <td>@(Model.AvgPriceSameYearSimiliarDisplacement > 0 ? $"{Model.AvgPriceSameYearSimiliarDisplacement.ToString("0.00")} zł" : "brak danych")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center"><strong>i) Średnia cena modelu w zależności od roku produkcji</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                @if (Model.ChartData_AvgPriceToYear == null)
                                {
                                    <div width="400" height="200">Zbyt mało danych do wygenerowania wykresu<br /><img src="~/images/sad.png" /></div>
                                }
                                else
                                {
                                    <canvas id="ChartData_AvgPriceToYear" width="800" height="200">asdasd</canvas>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; width:50%;"><strong>j) Oferty cenowe dla tego samego modelu</strong></td>
                            <td style="text-align:center; width:50%;"><strong>k) Oferty cenowe dla tego samego modelu i rocznika</strong></td>
                        </tr>
                        <tr>
                            <td style="width:50%; text-align:center">
                                @if (Model.ChartData_PricesOrdered == null)
                                {
                                    <div width="400" height="200">Zbyt mało danych do wygenerowania wykresu<br /><img src="~/images/sad.png" /></div>
                                }
                                else
                                {
                                    <canvas id="ChartData_PricesOrdered" width="400" height="200">asdasd</canvas>
                                }
                            </td>
                            <td style="width:50%; text-align:center">
                                @if (Model.ChartData_PricesSameYearOrdered == null)
                                {
                                    <div width="400" height="200">Zbyt mało danych do wygenerowania wykresu<br /><img src="~/images/sad.png" /></div>
                                }
                                else
                                {
                                    <canvas id="ChartData_PricesSameYearOrdered" width="400" height="200">Średnia cena</canvas>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="text-align:center">
            <img style="width:250px; height:200px" src="~/images/baner250.png" />
        </td>
        <td style="text-align:center">
            <img style="width:250px; height:200px" src="~/images/baner250.png" />
        </td>
        <td style="text-align:center">
            <img style="width:250px; height:200px" src="~/images/baner250.png" />
        </td>
    </tr>
</table>
<table style="width:100% ;page-break-before:always;">
    <tr>
        <td style="width:100%; vertical-align:top">
            <div class="panel panel-primary">
                <div class="panel-heading">5. Wyposażenie modelu</div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <td style="text-align:left; padding-top:20px">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsAutomaticClima)</td>
                                            <td><canvas id="PercentOfIsAutomaticClima" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsAutomaticClima.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsLeather)</td>
                                            <td><canvas id="PercentOfIsLeather" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsLeather.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsManualClima)</td>
                                            <td><canvas id="PercentOfIsManualClima" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsManualClima.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsMultifunctionalSteeringWheel)</td>
                                            <td><canvas id="PercentOfIsMultifunctionalSteeringWheel" width="400" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsMultifunctionalSteeringWheel.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsNavi)</td>
                                            <td><canvas id="PercentOfIsNavi" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsNavi.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsSeatHeating)</td>
                                            <td><canvas id="PercentOfIsSeatHeating" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsSeatHeating.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsStartStop)</td>
                                            <td><canvas id="PercentOfIsStartStop" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsStartStop.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsTempomat)</td>
                                            <td><canvas id="PercentOfIsTempomat" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsTempomat.ToString("0")%</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(m => m.PercentOfIsXenon)</td>
                                            <td><canvas id="PercentOfIsXenon" width="450" height="20"></canvas></td>
                                            <td style="vertical-align:central; width:50px; color: #555">@Model.PercentOfIsXenon.ToString("0")%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
<strong>Opis raportu</strong>
<table style="width:100%; font-size:10px">
    <tr>
        <td style="width:100%; vertical-align:top">
            <ol>
                <li>Podstawowe informacje o samochodzie, którego dotyczy raport</li>
                <li>Szczegółowe informacje na temat samochodu, którego dotyczy raport</li>
                <li>Wyposażenie samochodu, którego dotyczy raport</li>
                <li>
                    Informacje przedstawiające dane statystyczne dotyczące samochodu, którego parametry opisowe zdefiniowane są w punktach 1, 2, 3
                    <ol type="a">
                        <li>Szacowana cena samochodu obliczona przy użyciu uczenia maszynowego na podstawie obszernego zestawu danych (ponad 60 000 ofert różnych modeli i marek)</li>
                        <li>Parametry opisujące model matematyczny wykorzystany w punkcie 4a</li>
                        <li>Wykres przedstawiający stosunek cen wyższych oraz niższych dla ofert dotyczących tej samej marki, modelu i wersji samochodu bez względu na silnik, wyposażenie, rok produkcji oraz pozostałe paramtery.</li>
                        <li>Wykres przedstawiający stosunek cen wyższych oraz niższych dla ofert dotyczących tej samej marki, modelu i wersji a także roku produkcji samochodu bez względu na silnik, wyposażenie oraz pozostałe paramtery.</li>
                        <li>Średnia cena samochodu biorąc pod uwagę tą samą markę, model i wersję, bez względu na silnik, wyposażenie, rok produkcji oraz pozostałe paramtery.</li>
                        <li>Średnia cena samochodu biorąc pod uwagę tą samą markę, model, wersję a także rok produkcji, bez względu na silnik, wyposażenie oraz pozostałe paramtery.</li>
                        <li>Średnia cena samochodu biorąc pod uwagę tą samą markę, model, wersję a także rok produkcji i przebieg (+/-15 000km), bez względu na silnik, wyposażenie oraz pozostałe paramtery.</li>
                        <li>Średnia cena samochodu biorąc pod uwagę tą samą markę, model, wersję a także rok produkcji i moc (+/-15KM), bez względu na silnik, wyposażenie oraz pozostałe paramtery.</li>
                        <li>Wykres przedstawiający średnią cenę samochodu biorąc pod uwagę tą samą markę, model i wersję w zależności od roku produkcji.</li>
                        <li> Wykres przedstawiający procentową ilość ofert biorąc pod uwagę tą samą markę, model i wersję, pojawiających się w zależności od zakresu cenowego (np. ze 100 ofert 10% jest w przedziale cenowym 10 000 - 12 000zł, 20% w przedziale 12 000 - 14 000, 15% w przedziale 14 000 - 16 000, itd.)</li>
                        <li>Wykres przedstawiający procentową ilość ofert biorąc pod uwagę tą samą markę, model, wersję oraz rok produkcji, pojawiających się w zależności od zakresu cenowego (przykład jak w punkcie 4j)</li>
                    </ol>
                </li>
                <li>Wykresy przedstawiają jaki procent samochodów o tej samej marce, modelu i wersji posiada dane wyposażenie.</li>
            </ol>
        </td>
    </tr>
</table>

@section Scripts{
    <script>

        if(@((Model.ChartData_AvgPriceToYear != null).ToString().ToLower()) == true){
            var ctx1023 = document.getElementById('ChartData_AvgPriceToYear').getContext('2d');
            var chart1023 = new Chart(ctx1023, {
                type: 'line',
                data: {
                    labels: [@(Model.ChartData_AvgPriceToYear != null ?string.Join(",",Model.ChartData_AvgPriceToYear.Keys) : "")],
                    datasets: [{
                        label: 'apples',
                        data: [@(Model.ChartData_AvgPriceToYear != null ? string.Join(",", Model.ChartData_AvgPriceToYear.Values.Select(v => double.Parse(v, System.Globalization.NumberStyles.AllowDecimalPoint, System.Globalization.NumberFormatInfo.InvariantInfo).ToString("0"))) : "")],
                        backgroundColor: "rgba(76,108,172,0.8)"
                    }]
                },
                options: {
                    animation: false,
                    tooltips: false,
                    legend: false,

                    elements: { point: { radius: 0 } }
                }
            });
        }

        if(@((Model.ChartData_PricesOrdered != null).ToString().ToLower()) == true){
            var ctx1024 = document.getElementById('ChartData_PricesOrdered').getContext('2d');
            var chart1024 = new Chart(ctx1024, {

                type: 'line',
                data: {

                    labels: [@(Model.ChartData_PricesOrdered != null ? string.Join(",", Model.ChartData_PricesOrdered?.Keys) : "")],
                    datasets: [{
                        label: 'apples',
                        data: [@(Model.ChartData_PricesOrdered != null ? string.Join(",", Model.ChartData_PricesOrdered?.Values.Select(v => double.Parse(v).ToString("0"))) : "")],
                        backgroundColor: "rgba(76,108,172,0.8)"
                    }]
                },
                options: {
                    animation: false,
                    tooltips: false,
                    legend: false,
                    elements: { point: { radius: 0 } },
                    scales: {
                        xAxes: [{
                            display: true,
                            ticks: {
                                autoSkip: true,
                                maxRotation: 0,
                                minRotation: 0
                            }
                        }],
                        yAxes: [{
                            display: false
                        }],
                    }
                }
            });
        }


        if(@((Model.ChartData_PricesSameYearOrdered != null).ToString().ToLower()) == true){
            var ctx1025 = document.getElementById('ChartData_PricesSameYearOrdered').getContext('2d');
            var chart1025 = new Chart(ctx1025, {

                type: 'line',
                data: {

                    labels: [@(Model.ChartData_PricesSameYearOrdered != null ? string.Join(",", Model.ChartData_PricesSameYearOrdered?.Keys) : "")],
                    datasets: [{
                        label: 'apples',
                        data: [@(Model.ChartData_PricesSameYearOrdered != null ? string.Join(",", Model.ChartData_PricesSameYearOrdered?.Values.Select(v => double.Parse(v).ToString("0"))) : "")],
                        backgroundColor: "rgba(76,108,172,0.8)"
                    }]
                },
                options: {
                    animation: false,
                    tooltips: false,
                    legend: false,
                    elements: { point: { radius: 0 } },
                    scales: {
                        xAxes: [{
                            ticks: {
                                autoSkip: true,
                                maxRotation: 0,
                                minRotation: 0
                            }
                        }],
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                    }
                }
            });
        }



        //Ceny ofert dla tego samego modelu i rocznika
        var ctx1 = document.getElementById("PercentOfHigherPricesAtSameYear").getContext('2d');
        var chart1 = new Chart(ctx1, {

            type: 'pie',
            data: {

                labels: ["Wyższa", "Niższa"],
                datasets: [{
                    backgroundColor: [
                  "#4C6CAC",
                  "#AC4C4C"
                    ],
                    data: [@Math.Round(Model.PercentOfHigherPricesAtSameYear), @(100- Math.Round(Model.PercentOfHigherPricesAtSameYear))]
                }]
            },
            options: {
                legend: false,
                animation: false,
                tooltips: false,
                elements: { point: { radius: 0 } }
            }
        });

        //Ceny ofert dla tego samego modelu
        var ctx2 = document.getElementById("PercentOfHigherPricesAtDifferentYears").getContext('2d');
        var chart2 = new Chart(ctx2, {

            type: 'pie',
            data: {
                labels: ["Wyższa", "Niższa"],
                datasets: [{
                    backgroundColor: [
                  "#4C6CAC",
                  "#AC4C4C"
                    ],
                    data: [@Math.Round(Model.PercentOfHigherPricesAtDifferentYears), @(100- Math.Round(Model.PercentOfHigherPricesAtDifferentYears))]
                }]
            },
            options: {
                legend: false,
                animation: false,
                tooltips: false,
                elements: { point: { radius: 0 } }
            }
        });

        //Procent PercentOfIsAutomaticClima
        var ctx3 = document.getElementById("PercentOfIsAutomaticClima").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsAutomaticClima)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        display: false,
                        stacked: true,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsLeather
        var ctx3 = document.getElementById("PercentOfIsLeather").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsLeather)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        display: false,
                        stacked: true,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsManualClima
        var ctx3 = document.getElementById("PercentOfIsManualClima").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsManualClima)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        display: false,
                        stacked: true,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsMultifunctionalSteeringWheel
        var ctx3 = document.getElementById("PercentOfIsMultifunctionalSteeringWheel").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsMultifunctionalSteeringWheel)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsNavi
        var ctx3 = document.getElementById("PercentOfIsNavi").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsNavi)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsSeatHeating
        var ctx3 = document.getElementById("PercentOfIsSeatHeating").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsSeatHeating)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

        //Procent PercentOfIsStartStop
        var ctx3 = document.getElementById("PercentOfIsStartStop").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsStartStop)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });
        //Procent PercentOfIsTempomat
        var ctx3 = document.getElementById("PercentOfIsTempomat").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsTempomat)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });
        //Procent PercentOfIsXenon
        var ctx3 = document.getElementById("PercentOfIsXenon").getContext('2d');
        var c3 = new Chart(ctx3, {

            type: 'horizontalBar',
            data: {

                datasets: [{
                    data: [@Math.Round(Model.PercentOfIsXenon)],
                    backgroundColor: "#4C6CAC"
                }]
            }, options: {
                animation: false,
                tooltips: false,
                legend: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20,
                            suggestedMax: 100,
                            fontSize: 9
                        }
                    }],
                    yAxes: [{
                        barThickness: 8
                    }]
                }
            }
        });

    </script>
}
