﻿@{
    ViewData["Title"] = "Podsumowanie";
    Layout = "_CommonPageLayout";
}

@using CarPriceAnalysis.Common.Model.Data.Enums;
@model CarPriceAnalysis.Web.Portal.ViewModels.CarDetailsViewModel
<div class="report-main">
    <div class="section">
        <div class="container report-container">
            <div class="report-title">
                <h2>Nowy raport - podsumowanie</h2>
            </div>
            <div class="summary-line"></div>
            <form asp-action="@nameof(ReportController.Order)" asp-controller="Report" role="form" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            Samochód
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <table class="table">
                            <tr>
                                <td><strong>Marka: </strong></td>
                                <td>@Model.Make</td>
                                <td><input asp-for="Make" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Model: </strong></td>
                                <td>@Model.Model</td>
                                <td><input asp-for="Model" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Wersja: </strong></td>
                                <td>@(string.IsNullOrEmpty(Model.Version) ? " - " : @Model.Version)</td>
                                <td><input asp-for="Version" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Rok produkcji: </strong></td>
                                <td>@Model.ProductionYear</td>
                                <td><input asp-for="ProductionYear" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj nadwozia: </strong></td>
                                <td>@Model.BodyType</td>
                                <td><input asp-for="BodyType" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Pojemność silnika (cm3): </strong></td>
                                <td>@Model.Displacement</td>
                                <td><input asp-for="Displacement" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Moc: </strong></td>
                                <td>@Model.Power</td>
                                <td><input asp-for="Power" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj paliwa: </strong></td>
                                <td>@Model.FuelType</td>
                                <td><input asp-for="FuelType" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Liczba drzwi: </strong></td>
                                <td>@Model.DoorsCount</td>
                                <td><input asp-for="DoorsCount" type="hidden" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table">
                            <tr>
                                <td><strong>Przebieg: </strong></td>
                                <td>@Model.Mileage</td>
                                <td><input asp-for="Mileage" type="hidden" /></td>
                            </tr>

                            <tr>
                                <td><strong>Bezwypadkowy: </strong></td>
                                <td>@(Model.IsAccidentFree ? "Tak" : "Nie")</td>
                                <td><input asp-for="IsAccidentFree" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Uszkodzony: </strong></td>
                                <td>@(Model.IsBroken ? "Tak" : "Nie")</td>
                                <td><input asp-for="IsBroken" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj skrzyni biegów: </strong></td>
                                <td>@Model.GearingType</td>
                                <td><input asp-for="GearingType" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Kraj pochodzenia: </strong></td>
                                <td>@Model.OriginCountry</td>
                                <td><input asp-for="OriginCountry" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Pierwszy  właściciel: </strong></td>
                                <td>@(Model.IsFirstOwner ? "Tak" : "Nie")</td>
                                <td><input asp-for="IsFirstOwner" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Kolor: </strong></td>
                                <td>@Model.Color</td>
                                <td><input asp-for="Color" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Angielska wersja: </strong></td>
                                <td>@(Model.IsEnglishVersion ? "Tak" : "Nie")</td>
                                <td><input asp-for="IsEnglishVersion" type="hidden" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table">
                            <tr>
                                <td><strong>Wielofunkcyjna kierownica: </strong></td>
                                <td><span class="fa @(Model.IsMultifunctionalSteeringWheel ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsMultifunctionalSteeringWheel" type="hidden" /></td>
                            </tr>

                            <tr>
                                <td><strong>Klimatyzacja (automatyczna): </strong></td>
                                <td><span class="fa @(Model.IsAutomaticClima ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsAutomaticClima" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Klimatyzacja (manualna): </strong></td>
                                <td><span class="fa @(Model.IsManualClima ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsManualClima" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Tempomat: </strong></td>
                                <td><span class="fa @(Model.IsTempomat ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsTempomat" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Podgrzewane fotele: </strong></td>
                                <td><span class="fa @(Model.IsSeatHeating ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsSeatHeating" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Skórzana tapicerka</strong></td>
                                <td><span class="fa @(Model.IsLeather ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsLeather" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Nawigacja: </strong></td>
                                <td><span class="fa @(Model.IsNavi ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsNavi" type="hidden" /></td>
                            </tr>
                            <tr>
                                <td><strong>Reflektory ksenonowe: </strong></td>
                                <td><span class="fa @(Model.IsXenon ? "fa-check" : "fa-times")"></span></td>
                                <td><input asp-for="IsXenon" type="hidden" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-12">
                        <div class="well well-danger">
                            <i class="fa fa-warning"></i>
                            <strong>UWAGA</strong><br />
                            Aplikacja jest w fazie testów.<br />
                            <small>
                                W przypadku problemów z raportem po kontakcie (kontakt@autocena.info) masz prawo do:
                                <ul>
                                    <li>Utworzenia nowego raportu (bez możliwości zmiany danych dotyczących auta)</li>
                                    <li>Zwrotu pieniędzy jeżeli raport nie zostanie wysłany lub jego zawartość będzie uszkodzona / niepoprawna</li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>*@
                <div class="row">

                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8 summary-user">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="price-selection">
                                            <div class="price-selection-stars text-center">
                                                <img src="~/images/reportTwo.png" class="img-responsive" />
                                            </div>
                                            <div class="price-selection-header">
                                                @if (Model.PromoPriceBasic.HasValue) {
                                                    @Model.PromoPriceBasic.Value.ToString("0.00") @:zł (z VAT)<br /><small><span style="text-decoration:line-through">2,99zł (z VAT)</span></small>
                                                } else {
                                                    @:2,99zł (z VAT)
                                                }
                                            </div>
                                            <div class="price-selection-body">
                                                Pakiet podstawowy
                                            </div>
                                            <div class="price-selection-footer">
                                                <input asp-for="ReportType" type="radio" value="@ReportType.Basic" checked="checked" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="price-selection">
                                            <div class="price-selection-stars text-center">
                                                <img src="~/images/reportThree.png" class="img-responsive" />
                                            </div>
                                            <div class="price-selection-header">
                                                @if (Model.PromoPricePremium.HasValue)
                                                {
                                                    @Model.PromoPricePremium.Value.ToString("0.00") @:zł (z VAT)<br /><small><span style="text-decoration:line-through">6,99zł (z VAT)</span></small>
                                                }
                                                else
                                                {
                                                    @:6,99zł (z VAT)
                                                }
                                            </div>
                                            <div class="price-selection-body">
                                                Pakiet rozszerzony
                                            </div>
                                            <div class="price-selection-footer">
                                                <input asp-for="ReportType" type="radio" value="@ReportType.Premium" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="summary-line"></div>
                            </div>
                            <div class="col-sm-12">
                                <h3>
                                    Dane zamawiającego
                                </h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" placeholder="Jan" class="form-control" type="text" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" placeholder="twoj@email.com" class="form-control" type="text" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="PromoCode" placeholder="Kod promocyjny" class="form-control" />
                            </div>
                            <div class="col-sm-12">
                                <div class="summary-line"></div>
                            </div>
                            <div class="col-sm-12">
                                <h3>
                                    Płatność
                                </h3>
                            </div>
                            <div class="col-sm-12 text-center tiny-text">
                                <img src="~/images/dotpay_b3_160x83_eng.gif" />
                                <br />
                                Zapłać poprzez usługę Dotpay<br />
                                <input type="radio" checked disabled />
                            </div>
                            <div class="col-sm-12 text-center">
                                @if (!string.IsNullOrWhiteSpace(Model.PromoCodeInvalidMessage)) {
                                    <div class="alert-danger">@Model.PromoCodeInvalidMessage</div>
                                }
                                <button type="submit" class="btn btn-success">@(Model.PromoCode==null ? "Zamów raport i zapłać" : "Zamów raport (zrealizuj kod promocyjny)")</button>
                            </div>
                            <div class="col-sm-12 text-center">
                                <small class="super-small">Klikając przycisk "Zamów raport i zapłać" użytkownik potwierdza, że zapoznał się i akceptuje regulamin korzystania serwisu autocena.info.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </form>
        </div>
    </div>
</div>