﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <meta name="keywords" content="sprawdzanie ceny samochodu, cena samochodu, raport cen samochodu, cena auta, raport cenowy, autocena, ile kosztuje auto, ile kosztuje samochód, ile za samochód, jaka cena auta, jaka cena samochodu" />
    <meta name="description" content="Poznaj dokładny raport z indywidualnej analizy wartości Twojego samochodu. Sprawdź rynkową cenę na podstawie aktualnych danych z rynku motoryzacyjnego." />
    <meta property="og:url" content="http://autocena.info" />
    <meta property="og:title" content="Sprawdź cenę runkową Twojego auta!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://autocena.info/images/fb_post.png" />
    <meta property="og:description" content="Poznaj dokładny raport z indywidualnej analizy wartości Twojego samochodu. Sprawdź rynkową cenę na podstawie aktualnych danych z rynku motoryzacyjnego." />
    <meta property="fb:app_id" content="1694520860878033" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autocena.info</title>
    <link rel="icon" href="~/images/ico.png" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:100,400,400i,600,700,900&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/Themes/bootstrap_yeti.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("3881444142");
    </script>
    @*<link rel="stylesheet" href="~/lib/jquery-tooltip/jquery-ui.css" />*@
</head>
<body style="background-color:#fff">

    <div id="sticky-container">
        <div class="topper">
        </div>
        <div class="navbar-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.666667px;">
                        <a class="navbar-brand" href="/">
                            <img class="img-responsive logo-img" src="~/images/logo.png" />
                        </a><br />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://autocena.info/#how-details">JAK TO DZIAŁA?</a></li>
                            <li><a href="http://autocena.info/#pricing-details">OFERTA</a></li>
                            <li><a href="http://autocena.info/#contact-details">KONTAKT</a></li>
                            <li><a href="http://autocena.info/#faq-details">POMOC</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="sticky-content">
            @RenderBody()
        </div>
        <footer id="sticky-footer">
            <div class="lp-footer" id="contact-details">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img style="width:150px;" src="~/images/logo_inv.png" /><br />
                            <strong>Autocena.info | PM Business Solutions</strong><br />
                            kontakt@autocena.info
                        </div>
                        <div class="col-sm-4 text-center">
                            <strong>© 2016 - Autocena.info</strong><br />
                            Aktualność danych danych: @DateTime.UtcNow.AddDays(-1).ToString("MMMM yyyy")
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="~/files/Regulamin.pdf">Regulamin korzystania z serwisu</a><br />
                            <a href="https://www.dotpay.pl/dokumenty-formalne/">Regulamin płatności Dotpay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lp-footer-bottom">

            </div>
        </footer>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    @*<script src="~/lib/jquery-tooltip/jquery-ui.js"></script>*@   
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
