﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autocena.info</title>
    <link rel="icon" href="~/images/ico.png" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:100,400,400i,600,700,900&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/Themes/bootstrap_yeti.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="all-site-body">
    <div class="topper">

    </div>
    <div class="navbar-container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.666667px;">
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive logo-img" src="~/images/logo.png" />
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="http://autocena.info/#how-details">JAK TO DZIAŁA?<span class="sr-only">(current)</span></a></li>
                        <li><a href="http://autocena.info/#pricing-details">OFERTA</a></li>
                        <li><a href="http://autocena.info/#contact-details">KONTAKT</a></li>
                        <li><a href="http://autocena.info/#faq-details">POMOC</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    @RenderBody()
   

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
