﻿@model CarPriceAnalysis.Web.Portal.ViewModels.CarDetailsViewModel
@{
    ViewData["Title"] = "Sprawdź cenę swojego auta";
    Layout = "_LandingPageLayout";
}
<div class="splash">
    <div class="container">
        <div class="row splash-container" style="background-color: rgba(255,255,255,0.9)">
            <div class="col-sm-6">
                <div class="splash_description">
                    <h1>Sprawdź cenę rynkową auta</h1>
                    <h2>Zamów dokładny raport z analizy wartości twojego samochodu</h2>
                </div>
                <div class="splash_details">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>
                                <i class="fa fa-check fa-2x icon-success"></i>
                                <strong style="line-height: 200%;">Precyzyjne wycena wartości auta</strong>
                            </span>
                            <p>Wycena na podstawie aktualnych danych z rynku motoryzacyjnego</p>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                <i class="fa fa-check fa-2x icon-success"></i>
                                <strong style="line-height: 200%;">Raport analizy cenowej</strong>
                            </span>
                            <p>Szczegółowy raport wariantów cenowych i kluczowych czynników</p>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                <i class="fa fa-check fa-2x icon-success"></i>
                                <strong style="line-height: 200%;">Indywidualne podejście</strong>
                            </span>
                            <p>Każdy samochód wyceniany jest w zależności od podanych parametrów</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 splash-car-holder">
                        <div class="row splash-form-wrapper">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Make"></label>
                                    <select asp-for="Make" asp-items="@(new SelectList(Model.MakesList))" class="form-control" disabled="disabled"></select>
                                    <span asp-validation-for="Make" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Model"></label>
                                    <select asp-for="Model" asp-items="@(new SelectList(Model.ModelsList))" class="form-control" disabled="disabled"></select>
                                    <span asp-validation-for="Model" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Version"></label>
                                    <select asp-for="Version" asp-items="@(new SelectList(Model.VersionsList))" class="form-control" disabled="disabled"></select>
                                    <span asp-validation-for="Version" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <input type="hidden" asp-for="PromoCode" />
                                <span class="note-fade ui-tooltip" data-toggle="tooltip" title="Na liście znajdują się tylko te samochody, których liczba pojawiających się ofert jest wystarczająca do obliczenia szacowanej ceny z satysfakcjonującą dokładnością."><i class="fa fa-info-circle"></i> Dlaczego nie widać mojego auta?</span>
                            </div>
                            <div class="col-sm-12 text-center">
                                <btn id="newReportBtn" class="btn btn-success">Stwórz nowy raport</btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row" id="how-details">
        <div class="col-sm-12">
            <h1>Jak to działa?</h1>
            <div class="spacer"></div>
        </div>
        <div class="col-sm-12 text-center">
            <img class="img-responsive" src="~/images/flow.svg" />
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-10">
                <h1>Chcesz zobaczyć przykładowy raport?</h1>
                <p>Każdego tygodnia generowany jest przykładowy raport dla losowo wybranego modelu.</p>
            </div>
            <div class="col-sm-2 sample-report-conatiner">
                <a class="btn btn-danger form-control btn-download-sample" role="button" href="http://autocena.info/Raport/20110609-5f95-4499-fb3e-08d427645acc">
                    <div>
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <div>Pobierz</div>
                        <div class="super-small">Opel Astra H</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="pricing-details" id="pricing-details">
        <div class="row text-left">
            <div class="col-sm-12">
                <h1>Oferta</h1>
                <strong>W zależności od Twoich wymagań możesz skorzystać z jednego z dwóch pakietów przygotowanych dla naszych klientów</strong>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-50 text-left">
                <small>Pakiet rozszerzony obejmuje wszystkie funkcjonalności oferowane przez pakiet standardowy, dodatkowo co dwa tygodnie wysyłana jest nowa wersja raportu, która generowana jest na zaktualizowanym zestawie ofert, dzięki czemu masz pewność, że wartość Twojego samochodu jest dokładna w każdej chwili.</small>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 padding-20">
                        <div class="well">
                            <strong>Pakiet standard</strong>
                            <ul class="pricing-features">
                                <li><span class="fa fa-check icon-success"></span> Szacowana cena pojazdu</li>
                                <li><span class="fa fa-check icon-success"></span> Średnie ceny</li>
                                <li><span class="fa fa-check icon-success"></span> Analiza, statystyki i wykresy</li>
                                <li><span class="fa fa-times icon-fail"></span> <span style="text-decoration: line-through;">2 aktualizacje raportu co dwa tygodnie</span></li>
                            </ul>
                            <div class="text-right">
                                <span class="price-details-label">2,99zł (z VAT)</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 padding-20">
                        <div class="well">
                            <strong>Pakiet rozszerzony</strong>
                            <ul class="pricing-features">
                                <li><span class="fa fa-check icon-success"></span> Szacowana cena pojazdu</li>
                                <li><span class="fa fa-check icon-success"></span> Średnie ceny</li>
                                <li><span class="fa fa-check icon-success"></span> Analiza, statystyki i wykresy</li>
                                <li><span class="fa fa-check icon-success"></span> 2 aktualizacje raportu</li>
                            </ul>
                            <div class="text-right">
                                <span class="price-details-label">6,99zł (z VAT)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer">

        </div>
    </div>
    <div class="features-container">
        <div class="row">
            <div class="col-sm-12">
                <strong>Każdy raport to indywidualna wycena na podstawie dużych zbiorów ofert i zaawansowanych algorytmów</strong>
            </div>
            <div class="col-sm-3">
                <div class="feature-wrapper">
                    <div class="row">
                        <div class="col-sm-12"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                        <div class="col-sm-12"><strong>Ponad 70 000 ofert</strong></div>
                        <div class="col-sm-12">Raport przygotowywany jest indywidualnie na podstawie ponad 50 000 aktualnych ofert</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="feature-wrapper">
                    <div class="row">
                        <div class="col-sm-12"><i class="fa fa-car" aria-hidden="true"></i></div>
                        <div class="col-sm-12"><strong>Ponad 150 dostępnych modeli</strong></div>
                        <div class="col-sm-12">Możliwość wyboru spośród ponad 100 różnych modeli samochodów. Nieskończona liczba kombinacji cech.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="feature-wrapper">
                    <div class="row">
                        <div class="col-sm-12"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <div class="col-sm-12"><strong>Zawsze aktualne dane</strong></div>
                        <div class="col-sm-12">Każdy raport tworzony jest na podstawie danych z nie więcej niż dwóch miesięcy wstecz</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="feature-wrapper">
                    <div class="row">
                        <div class="col-sm-12"><i class="fa fa-cloud" aria-hidden="true"></i></div>
                        <div class="col-sm-12"><strong>Nowoczesne metody</strong></div>
                        <div class="col-sm-12">Do utworzenia raportu wykorzystywane są metody uczenia maszynowego w chmurze obliczeniowej Microsoft Azure</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how-details" id="faq-details">
        <div class="row text-left">
            <div class="col-sm-12">
                <h1>Pomoc</h1>
                <strong>Najczęstsze pytania i odpowiedzi</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-50 text-left">
                <div class="spacer-small"></div>
                <div>
                    <strong>1. Dlaczego na liście nie ma mojego modelu samochodu?</strong>
                    <div>
                        <p>Na liście znajdują się tylko te samochody, których liczba pojawiających się ofert jest wystarczająca do obliczenia szacowanej ceny z satysfakcjonującą dokładnością. W momencie, kiedy liczba dostępnych ofert wzrośnie, nowe modele zostaną dodane do listy.</p>
                    </div>
                </div>
                <div class="spacer-small"></div>
                <div>
                    <strong>2. Dlaczego jeszcze nie otrzymałem mojego raportu?</strong>
                    <div>
                        <p>Każdy raport generowany jest indywidualnie według kolejności utworzenia. Proces ten może potrwać kilka minut, a jeżeli w danej chwili jest więcej niż jeden raport, wszystkie pozostałe muszą poczekać na swoją kolej. Jeżeli jednak raport nie doszedł do Ciebie po kilku godzinach koniecznie skontaktuj się z nami w celu wyjaśnienia.</p>
                    </div>
                </div>
                <div class="spacer-small"></div>
                <div>
                    <strong>3. Obliczona cena jest nieprawdopodobnie niska lub wysoka?</strong>
                    <div>
                        <p>Raporty generowane są przy pomocy zaawansowanych algorytmów uczenia maszynowego na podstawie dużych zbiorów aktualnych ofert. Jeżeli oferty będące podstawą obliczeń są zakłamane, wynik może różnić się od oczekiwanej wartości. W takim przypadku skontaktuj się z nami, a my wygenerujemy Ci nowy raport po zaktualizowaniu danych lub oddamy Ci pieniądze.</p>
                    </div>
                </div>
                <div class="spacer-small"></div>
                <div>
                    <strong>4. Czy mogę wydrukować pobrany raport?</strong>
                    <div>
                        <p>Raport wygenerowany jest tylko i wyłącznie Twoją własnością. Dostarczony jest w formacie PDF, dzięki czemu masz możliwość obejrzenia i wydrukowania go na większości urządzeń.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentStep = 0;

        $("#newReportBtn").click(function () {
            var link = "@Url.Action(nameof(ReportController.Index),"Report")?make=" + encodeURIComponent($('#@nameof(Model.Make)').val()) + "&model=" + encodeURIComponent($('#@nameof(Model.Model)').val()) + "&version=" + encodeURIComponent($('#@nameof(Model.Version)').val());
            if ($('#@nameof(Model.PromoCode)').val()) {
                link = link + "&promoCode=" + encodeURIComponent($('#@nameof(Model.PromoCode)').val());
            }

            window.location = link;
        });


        //Update car models
        $('#@nameof(Model.Make)').change(function () {
            var make = $(this).val();
            updateCarModels(make);
        });

        //Update car versions, years and body types
        $('#@nameof(Model.Model)').change(function () {
            var make = $('#@nameof(Model.Make)').val();
            var model = $(this).val();
            updateCarVersions(make, model);
        });

        //Update car versions, years and body types
        $('#@nameof(Model.Version)').change(function () {
            var make = $('#@nameof(Model.Make)').val();
            var model = $('#@nameof(Model.Model)').val();
            var version = $(this).val();
            updateCarDetails(make, model, version);
        });

        function updateCarModels(make) {
            $('#@nameof(Model.Model)').empty();
            $('#@nameof(Model.Version)').attr('disabled', 'disabled').empty();

            $.get("/Raport/GetCarModels/" + make, function (data) {
                updateSelectList(data, "@nameof(Model.Model)")
                updateCarVersions(make, data[0]);
            });
        }

        function updateCarVersions(make, model) {
            $('#@nameof(Model.Version)').attr('disabled', 'disabled').empty();
            if (model && make) {
                $.get("/Raport/GetCarVersions/" + make + "/" + model, function (data) {
                    updateSelectList(data, "@nameof(Model.Version)");
                    updateCarDetails(make, model, data[0]);
                });
            }
        }

        function updateCarDetails(make, model, version) {
            $('#@nameof(Model.BodyType)').empty();
            $('#@nameof(Model.ProductionYear)').empty();

            if (model && make) {
                updateCarBodyTypes(make, model, version);
                updateCarProductionYears(make, model, version);
            }
        }

        function updateCarBodyTypes(make, model, version) {
            $.get("/Raport/GetCarBodyTypes/" + make + "/" + model + "/" + (version ? version : ""), function (data) {
                updateSelectList(data, "@nameof(Model.BodyType)")
            });
        }

        function updateCarProductionYears(make, model, version) {
            $.get("/Raport/GetCarProductionYears/" + make + "/" + model + "/" + (version ? version : ""), function (data) {
                updateSelectList(data, "@nameof(Model.ProductionYear)")
            });
        }

        function updateSelectList(data, name) {
            var selectList = $("#" + name);
            selectList.empty();
            if (data[0]) {
                $.each(data, function (index, value) {
                    selectList.append("<option>" + value + "</option>");
                });
                selectList.show();
                selectList.removeAttr("disabled");
            }
        }

        $(function () {

            $('.ui-tooltip').tooltip();

            var makeSelectList = $('#@nameof(Model.Make)');
            var make = makeSelectList.val();
            //updateCarModels(make);
            makeSelectList.removeAttr('disabled');
        });
    </script>
}
