﻿.navbar {
    border-radius: 0;
    background: #fff;
    color: #18BC9C;
    box-shadow: 0 0 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 0;
}


.navbar-default .navbar-nav > li > a {
    color: #2A3259;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: default;
    opacity: 0.3;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #2A3259;
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2A3259;
    background-color: transparent;
}

.topper {
    height: 40px;
    width: 100%;
    background: #2A3259;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-toggle .icon-bar + .icon-bar {
    background-color: #2A3259;
}

.navbar-default .navbar-toggle:hover {
    background-color: #fff;
    border-color: #2A3259;
}

.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.form-control::-webkit-input-placeholder { color: #eee; }
.form-control:-moz-placeholder { color: #eee; }
.form-control::-moz-placeholder { color: #eee; }
.form-control:-ms-input-placeholder { color: #eee; }

#navbar {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.well-danger{
    background: #94321C;
    color: #fff;
    border: 1px solid #653D04;
}

.all-site-body {
    background: url(../images/bgbg.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
}

.btn-download {
    width: 120px;
}

.note-fade{
    font-size:9px;
    color:#777;
}

.highlight{
    background:#eee;
    padding:10px;
    margin:10px 0;
}

.splash {
    background-size: cover;
    background-image: url(../images/bgbg.jpg);
    background-position: center;
    padding-top: 50px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
}

.splash-container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.splash_details {
    width: 100%;
    max-width: 520px;
    height: 300px;
    margin-top: 20px;
    /*background: rgba(255,255,255,0.9);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 40px 40px 40px;
    color: #333;
}

    .splash_details p {
        font-weight: 100;
        color: #555;
    }

.splash_description h1 {
    font-weight: 900;
    font-family: 'Raleway';
    color: #333;
    text-transform: uppercase;
    font-size: 34px;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
}

.splash_description h2 {
    font-family: 'Raleway';
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
}


.splash-car-holder {
    padding: 10px 50px 0px 50px;
}


.splash-form-wrapper {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
}

.btn-download-sample{
    height:75px;
}

.price-details-label{
    padding:10px;
    border:1px solid #ACACAC;
    color:#505050;
    background: #EAEAEA;
}

.feature-wrapper {
    text-align: center;
    margin-top: 40px;
    font-weight: 100;
}

    .feature-wrapper i {
        font-size: 64px;
        color: #2A3259;
    }

    .feature-wrapper div {
        margin: 10px 0;
    }

.sample-report-conatiner {
    padding-top: 30px;
}

.pricing-container {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
}

.pricing-footer {
    margin-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}


.pricing-header {
    min-height: 40px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    background: #2A3259;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans';
}

.pricing-body {
    min-height: 40px;
    padding-top: 10px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: inset 0px 3px 60px -19px rgba(0,0,0,0.85);
    -moz-box-shadow: inset 0px 3px 60px -19px rgba(0,0,0,0.85);
    box-shadow: inset 0px 3px 60px -19px rgba(0,0,0,0.85);
    background: #627093;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans';
}

.pricing-footer {
    min-height: 30px;
    font-weight: 300;
}

.pricing-features li {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    padding: 0px;
    padding-top: 10px;
}

.pricing-order {
    padding-bottom: 20px;
}

/**REPORT**/
.report-container {
    background: #fff;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
    padding: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.report-main {
    padding: 30px;
}

.summary-line {
    height: 1px;
    width: 100%;
    background: #ddd;
    margin: auto;
    margin-bottom: 10px;
}

.summary-user {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

.price-selection {
    text-align: center;
}

.price-selection-stars {
    padding: 25px;
}

.price-selection-header {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 900;
}

.price-selection-body {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 100;
}

.price-selection-footer {
    padding-bottom: 10px;
}

.tiny-text {
    font-weight: 100;
    font-size: 12px;
}


.icon-success {
    color: #7db53b;
}

.icon-fail {
    color: #E73351;
}

.logo-img {
    height: 30px;
    margin-top: -5px;
}

.super-small {
    font-size: 7px;
}

.spacer {
    width: 100%;
    height: 30px;
}

.spacer-small{
    width: 100%;
    height: 18px;
}

.lp-footer {
    width: 100%;
    padding-top: 30px;
    height: 140px;
    background: #0D0F1B; 
    font-size: 12px;
    color: #fff;
}

.lp-footer-bottom{
    height:20px;
    background: #000;
    font-size: 22px;
    padding-top:10px;
    color: #444;
}

.lp-footer a {
    color: #fff;
    text-decoration: none;
}

/*Responsive*/
@media (min-width:768px) {
    .splash-car-holder {
        padding: 100px 50px 0px 50px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#faq-details p{
    font-weight : 100;
}

#sticky-container {
    min-height: 100%;
    position: relative;
    background: url(../images/bgbg.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
}

#sticky-header {
    background: #ff0;
    padding: 10px;
}

#sticky-content {
    padding: 10px;
    padding-bottom: 160px; /* Height of the footer */
}

#sticky-footer {
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px; /* Height of the footer */
    background: #6cf;
}
